appdirs==1.4.3
boto==2.46.1
dj-database-url==0.4.1
Django==1.10.7
django-allauth==0.31.0
django-axes==2.3.2
django-crispy-forms==1.6.1
django-csp==3.2
django-ratelimit==1.0.1
django-request-profiler==0.12
django-sslserver==0.19
django-storages==1.5.2
gunicorn==19.6.0
oauthlib==2.0.2
packaging==16.8
psycopg2==2.6.2
pyparsing==2.2.0
python-openid==2.2.5
pytz==2017.2
requests==2.13.0
requests-oauthlib==0.8.0
selenium==3.3.3
six==1.10.0
whitenoise==3.2
