{% extends 'base.html' %}
{% load staticfiles %}


{% block content %}

<h1>{{ object.nome }}</h1>
    <ul>
        <li> <strong>Descrição: </strong> {{ produto.descricao }}</li>
        <li><strong>Quantidade: </strong>{{ produto.qtd }}</li>
        <li> <strong>Quando inserido: </strong>{{ produto.when_created }}</li>
        <li> <strong>Quando atualizado: </strong>{{ produto.when_updated }}</li>
        <li> <strong>Inserido por: </strong>{{ produto.created_by }}</li>
        <li> <strong>Última atualização por: </strong>{{ produto.updated_by }}</li>
        <li> <strong>IP do cliente: </strong>{{ produto.client_ip }}</li>
    </ul>

<a href="{% url 'produto_list' %}">Voltar</a>
{% endblock %}